main {
    padding-bottom: 0 !important
}

.title-home hr {
    background: #f89923;
    width: 5%;
    border: 4px solid #f89923;
    margin-bottom: 5px
}

main h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: rgba(0, 0, 0, .87)
}

#dknhieutuan,
#topoffline,
#toponline{
    display: inline-block;
    width: 100%;
    margin-top: 30px
}
.product-tag,.feature-main{
    display: flex;
    flex-wrap: wrap;
}
.detai-item2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffffb0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

#about-us {
    background: #fff
}

#all-feature {
    background: #e5e5e5
}

.title-home {
    margin-bottom: 30px;
}

.product-item {
    box-shadow: 0 8px 10px rgba(0, 0, 0, .14), 0 3px 14px rgba(0, 0, 0, .12), 0 5px 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    flex-basis: 30%;
    margin-right: 30px;
    margin-bottom: 30px;
    background: white;
}
.no-price{
    width: 100%;
    text-align: center;
    color: red;
    padding: 9px;
    height: 42px;
}
[class*=v_save] {
    width: 26px;
    height: 26px
}
.like-product2 {
        cursor: pointer;
    }
.item>img {
    width: 16px;
    height: 16px
}

.img-main {
    width: 100%;
    height: 194px;
    object-fit: cover
}

.buy-now2 {
    height: 35px;
    width: 35%;
    background: green;
    border-radius: 4px;
    text-align: center;
    padding-top: 9px
}
#bansethich{
    margin-top: 30px;
}
.product-item .detail {
    background: #1b6aab;
    border-radius: 4px;
    width: 84%;
    height: 56px;
    display: flex;
    position: absolute;
    bottom: 2%;
    left: 8%;
    right: 8%
}

.product-img {
    position: relative
}

.product-img .detai-img {
    margin: 8px
}

.product-img .detai-img img {
    width: 50px;
    height: 42px;
    border-radius: 8px
}

.product-img .like {
    position: absolute;
    top: 5%;
    right: 5%
}

.v_caret{
    width: 24px;
    height: 24px;
}

.product-info {
    padding: 24px 0 0 9px;
    background: #fff
}

.detai-item1 {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #fff;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.prd-name p {
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;
    color: rgba(0, 0, 0, .8);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.star-rate img {
    margin-right: 5px
}

.star-rate span {
    font-weight: 400;
    color: rgba(0, 0, 0, .38);
    margin-left: 5px
}

.prd-status p {
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, .7)
}

.prd-item {
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex
}

.prd-item .item {
    flex-basis: auto;
    height: auto;
    padding: 9px 11px;
    background: rgba(0, 0, 0, .12);
    border-radius: 16px;
    text-align: center;
    margin-bottom: 8px;
    margin-right: 9px
}

.item img {
    margin-right: 5px
}

.item span {
    font-weight: 400;
    font-size: 14px;
    Line-height: 18.2px
}

.product-info hr {
    width: auto;
    border: 1px solid rgba(0, 0, 0, .12);
    box-sizing: border-box
}

.prd-buy {
    display: flex;
    padding: 16px 16px 25px 16px
}

.prices {
    width: 67%
}

.prices p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: red
}

.prices span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, .7);
    text-decoration: line-through;
    margin-left: 5px
}

.buy-now {
    height: 35px;
    cursor: pointer;
    background: #1b6aab;
    border-radius: 4px;
    width: 35%;
    text-align: center;
    padding-top: 5px;
}

.buy-nowOf {
    height: 35px;
    cursor: pointer;
    background: #1b6aab;
    border-radius: 4px;
    width: 35%;
    text-align: center;
    padding-top: 9px;
}

.buy-now0{
    padding-top: 9px;
    cursor: pointer;
    height: 35px;
    cursor: pointer;
    background: #1b6aab;
    border-radius: 4px;
    width: 35%;
    text-align: center;
}
.buy-now0 a,
.buy-now span,
.buy-now span,
.buy-now2 a,
.buy-now a,
.buy-nowOf a {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px
}

.prd-name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical
}

.v_cate_icon {
    width: 16px;
    height: 16px
}

.like-product {
    cursor: pointer
}
.slick-dots{
    display: none !important;
}

.tag-item {
    float: left;
    border: 1px solid rgba(0, 0, 0, .12);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 32px
}

.tag-item:hover {
    background: #f89923
}

.tag-item a,
.tag-item span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, .54)
}

.activetag {
    background: #f89923
}

#toponline {
    margin-bottom: 100px
}

.xemthem a {
    color: #1b6aab;
    font-weight: 700;
    margin-right: 55px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #1b6aab;
    box-sizing: border-box;
    border-radius: 18px;
    float: right;
    padding: 10px 14px 8px 16px
}

#about-us .container {
    text-align: center
}

.title-us {
    display: flex;
    padding: 66px 276px 57px 282px
}

.title-us h1 {
    margin-left: 40px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: #333
}

.title-us2 h1 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: #333
}

.about-us1,
.about-us2 {
    display: inline-block;
    margin-bottom: 42px
}

.about-us1-1 h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000;
    margin-top: 24px;
    margin-bottom: 24px
}

.about-us1-1,
.about-us2-1 {
    float: left;
    width: 360px;
    margin-right: 30px
}

.about-us2 {
    margin-top: 38px
}

.about-us2-2 p {
    margin-top: 58px;
    height: 245px
}

.prd-slide-next,
.prd-slide-prev {
    position: absolute;
    top: 225px
}

.prd-slide-prev {
    left: -46px
}

.prd-slide-next {
    right: -20px
}
.about-us1-1 img {
    width: 100%;
}
@media only screen and (max-width:1025px) {
    .product-item {
        flex-basis: 45%;
    }
    .prd-slide-next,
    .prd-slide-prev,
    .title-us img {
        display: none !important;
    }
    .title-us {
        padding: 66px 0 57px 0;
    }
    .xemthem a {
        margin-right: 60px;
    }
    .title-us h1 {
        width: 100%;
        margin-left: 0
    }
    .about-us1-1,
    .about-us2-1 {
        float: none;
        width: 100%;
        margin-bottom: 40px
    }
    .about-us1-1 img {
        width: 100%;
        height: 465px
    }
    
    .about-us1-1 p, .about-us2-2 p{
        width: 100%;
        margin-left: 0;
    }
    .about-us2-2 p {
        height: 100px
    }
}

@media only screen and (max-width:770px) {
    .prd-name p {
        font-size: 17px;
    }
    .product-item {
            width: 47%;
        margin-right: 20px
    }
    .about-us1-1 img {
        height: 356px
    }
    .prd-item .item {
        padding: 7px 10px
    }
}

@media only screen and (max-width:480px) {
    .product-item {
        flex-basis: 100%;
    }
    .about-us2-2 p{
        margin-top: 20px;
    }

    .product-tag {
        display: none
    }
    .title-us {
        padding: 66px 0 57px 0
    }
    .title-us h1,
    .title-us2 h1 {
        margin-left: 5px;
        font-size: 28px
    }
    .about-us1-1 img {
        height: 180px
    }
    main hr {
        margin-bottom: 12px
    }
    main h2 {
        font-size: 22px
    }
    .about-us2-3{
        margin-top: 50px;
    }
    .xemthem a{
        margin-right: 20px;
    }
}

@media only screen and (max-width:370px) {
    main h2 {
        font-size: 22px
    }
    .about-us1-1 img {
        height: 180px
    }
}