.l_chucnang {
    margin: 70px auto 30px;
    width: 95%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.l_btn_boloc {
    width: 95px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 6px;
}

.l_timkiem {
    display: flex;
    width: 62%;
}

.thongbao {
    color: #185DA0;
    font-size: 20px;
    text-align: center;
}

.l_input {
    width: 94%;
    height: 40px;
    background: #F4F2FF;
    border: none;
    outline: none;
    padding-left: 15px;
    border-radius: 0;
}

.l_timkiem {
    display: flex;
    width: 62%;
    border-radius: 6px;
    overflow: hidden;
    height: 40px;
}

.l_btn_timkiem {
    width: 40px;
    background: #F4F2FF;
    height: 40px;
    border: none;
}

.l_btn_excel {
    border: none;
    outline: none;
    width: 144px;
    height: 39px;
    background: #185DA0;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.l_phantrang {
    clear: left;
    text-align: center;
    padding: 18px 0px 20px;
}

.l_phantrang_btn {
    margin-right: 10px;
    padding: 6px 12px;
    background: no-repeat;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    color: black;
}

.l_phantrang_btn1 {
    margin-right: 10px;
    padding: 6px 12px;
    background: no-repeat;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    background: #1B6AAB;
    color: rgb(255, 255, 255);
}

.p {
    width: 161px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 19px;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.l_chinhsuabtn {
    background: none;
    border: none;
    outline: none;
}

.l_content {
    width: 95%;
    margin: 30px auto;
    display: table;
    border-collapse: collapse;
    background: white;
}

.l_content-title {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: table-row;
    background: #F4F2FF;
    font-weight: 700;
    color: #1B6AAB;
    border-radius: 8px 8px 0 0;
}

.l_content-title div {
    font-size: 14px;
    padding: 20px 0px 20px 10px;
}

.l_table-cell {
    display: table-cell;
    padding: 20px 10px 20px 10px;
}

.l_noidungkh {
    display: table-row;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.l_table-text {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 2;
    height: 72px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.l_giangday {
    display: block;
}

.l_khoahocgiangday {
    color: #096ed1;
}

.l_curson {
    cursor: pointer;
    position: relative;
    padding: 20px 0px 20px 10px;
    width: 5%;
}

.l_hienthi_chinhsua {
    background: #FFFFFF;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    display: none;
    position: absolute;
    right: 0px;
    top: 70%;
    z-index: 1;
}

.l_btn_chinhsua {
    display: flex;
    width: 139px;
    height: 36px;
    background: #1B6AAB;
    border-radius: 4px;
    justify-content: center;
}

.l_offGD {
    color: #096ed1;
}

.l_chinhsuachu {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 149%;
    color: #FFFFFF;
    margin: auto 5px;
}

.l_img_chinhsua {
    margin: auto 5px;
}

.l_show {
    display: block;
}

.l_btn_chinhsua, .l_xoakh {
    border: none;
    display: flex;
    width: 139px;
    height: 36px;
    margin-bottom: 10px;
    background: #1B6AAB;
    border-radius: 4px;
    justify-content: center;
}

.l_font_size {
    text-align: center;
    font-size: 22px;
    color: #1B6AAB;
}

@media only screen and (min-width: 768px) and (max-width:1366px) {
    .l_right {
        width: 100%;
    }
    .l_size {
        width: 15%;
    }
    .l_size2 {
        width: 13%;
    }
}

@media only screen and (max-width: 767px) {}