#v_content-filter {
    padding-top: 15px;
    padding-bottom: 16px;
    height: 72px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px 8px 0 0;
    background: white;
    max-width: 95%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.checkboxs{
    margin-left:15px
}
#v_filter {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.12);
    font-weight: 400;
    color: #25213B;
    border-radius: 6px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

#v_content-search {
    flex-basis: 64%;
    display: flex;
}

#v_content-search-btn {
    border: none;
    padding-bottom: 10px;
    width: 40px;
    height: 40px;
    background: hsla(249, 100%, 97%, 1);
    border-color: #F4F2FF;
    border-radius: 6px 0 0 6px;
}

#v_content-search input {
    width: 100%;
    height: 40px;
    background: #F4F2FF;
    border-radius: 0 6px 6px 0;
    border-color: #F4F2FF;
    border: none;
}

#v_content-excel-div {
    flex-basis: 18%;
}

#v_content-excel {
    padding: 5px;
    width: 100%;
    background: rgba(24, 93, 160, 1);
    box-sizing: content-box;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    height: 40px;
    text-transform: uppercase;
    border: none;
}

#v_content-excel img {
    padding-right: 5px;
}
#filter{
    display: contents;
}
@media (max-width: 1300px){
    #v_content-excel img{
        display: none;
    }
    #v_content-filter{
        max-width: 976px;
    }
}
@media(max-width: 976px){
    #v_content-filter{
        max-width: 720px;
    }
}
@media (max-width: 767px){
	#v_content-filter {
    	display: block;
    	position: relative;
    	height: 142px;
    	margin-bottom: 32px;
    	border-radius: 4px;
    	box-shadow: 0px 4px 5px rgb(0 0 0 / 14%), 0px 1px 10px rgb(0 0 0 / 12%), 0px 2px 4px rgb(0 0 0 / 20%);
	}

	#v_filter {
    	width: 100px;
    	float: left;
    	margin-left: 2.5%;
    	margin-bottom: 10px;
	}

	#v_content-search {
    	width: 95%;
	}

	#v_content-excel {
    	height: 39px;
    	width: 144px;
        margin-top: 10px;
    	/* position: absolute;
    	right: 2.5%;
    	top: 15px; */
	}

}
