.v_content-mb {
    display: none;
}

#l_thongbao {
    text-align: center;
    display: block;
    width: 95%;
    margin: 0px auto;
    color: #1B6AAB;
    font-size: 18px;
}
/* @media (max-width: 767px) {
} */
@media (max-width: 767.9px) {
    .l_input {
        background: none;
        width: 90%;
        border: 1px solid rgba(0, 0, 0, 0.12);
    }
    .l_action2{
        display: flex;
        padding-left: 5%;
    }
    .l_action__ghichu,
    .l_action__xoakh{
        background: #1B6AAB;
        border-radius: 16px;
        width: 35%;
        height: 32px;
        border:none;
    }
    .l_action__ghichu a{
        margin: 0 auto;
    }
    .l_action__ghichu--span,
    .l_action__xoakh--span{
        color: white;
        margin: 0 auto;
        font-weight: 700;
        font-size: 14px;
    }
    .l_action__ghichu{
        margin-right: 5%;
    }
    .l_chucnang {
        background: white;
        display: block;
        /* position: relative; */
        width: 95%;
        min-height: 142px;
        padding-top: 19px;
        padding-left: 2.5%;
        padding-right: 2.5%;
        margin-bottom: 32px;
        border-radius: 4px;
        box-shadow: 0px 4px 5px rgb(0 0 0 / 14%), 0px 1px 10px rgb(0 0 0 / 12%), 0px 2px 4px rgb(0 0 0 / 20%);
    }
    .l_btn_boloc {
        width: 95px;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        border-radius: 6px;
        margin-bottom: 10px;
    }
    .l_timkiem {
        width: 100% !important;
    }
    /* .l_input {
        width: 90%;
    } */
    .l_height {
        height: 214px;
    }
    .l_absolute {
        /*position: absolute; */
        /* bottom: 2.5%; */
        /* right: 2.5%; */
        margin: 24px 7.5% 0px;
        text-align: right;
    }
    .l_img_excel {
        margin-right: 5px;
    }
    .v_content-mb {
        margin: 30px auto;
        padding-top: 14px;
        padding-bottom: 10px;
        display: block;
        align-self: center;
        background: white;
        width: 95%;
        box-shadow: 0px 4px 5px rgb(0 0 0 / 14%), 0px 1px 10px rgb(0 0 0 / 12%), 0px 2px 4px rgb(0 0 0 / 20%);
    }
    .l_content {
        display: none !important;
    }
    .l_right {
        width: 100%;
    }
    .v_content-mb-div {
        padding-bottom: 16px;
        padding-left: 5%;
        padding-right: 5%;
        text-align: left;
    }
    .l_center {
        width: 100%;
        margin: 0px auto;
    }
    .v_content-mb-title {
        font-weight: 400;
        line-height: 23.84px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        text-align: left;
    }
    .v_info-all {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .v_content-mb-div {
        padding-bottom: 16px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .v_content-mb-thongtin {
        padding-top: 3px;
        padding-bottom: 2px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 15px;
        background: rgba(242, 242, 242, 1);
        font-weight: 500;
        font-size: 12px;
        color: rgba(27, 106, 171, 1);
        margin-bottom: 12px;
        margin-right: 8px;
    }
    .v_content-mb-span {
        font-weight: 700;
        font-size: 12px;
        color: #1B6AAB;
    }
    /*Đánh giá*/
    .v_danh-gia-center {
        padding-bottom: 28px;
    }
    .v_danh-gia {
        background: #F2F2F2;
        padding-left: 8px;
        padding-top: 8px;
        width: 90%;
        height: 118px;
    }
    .v_danh-gia-title {
        padding-bottom: 16px;
        color: #1B6AAB;
        font-weight: 700;
        text-align: left;
    }
    .v_danh-gia-content {
        font-weight: 400;
        font-size: 12px;
        text-align: left;
        padding-bottom: 5px;
    }
    .v_danh-gia-star {
        float: left;
    }
    .v_mb-edit {
        background: #1B6AAB;
        padding-left: 16px;
        padding-right: 16px;
        height: 36px;
        color: white;
        font-size: 14px;
        border-radius: 18px;
    }
    .l_hethan {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 149%;
        color: red;
    }
    .l_excel {
        margin-top: 20px;
        /* position: absolute; */
        /* top: 20px; */
        /* right: 20px;*/
    }
}