#content{
    padding-top: 48px;
}

.v_content-1{
    position: relative;
    background: white;
    padding-top: 0;
    padding-bottom: 16px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: 30%;
    margin-bottom: 24px;
}

.v_content-main{
    justify-content: space-evenly;
    padding-bottom: 24px;
    flex-wrap: wrap;
}

.v_content-main-hr{
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    background: #1B6AAB;
    border: 2px solid #1B6AAB; 
}

.v_content-main-p{
    color: rgba(0, 0, 0, 0.87);
    padding-bottom: 18px;
    padding-top: 12px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.v_content-play{
    font-weight: 400;
    font-size: 16px;
    justify-content: center;
    padding-bottom: 17px;
}

.v_content-play-p{
    color: rgba(0, 0, 0, 0.7);
}

.v_img-play{
    padding-right: 11px;
}

.v_xem-them{
    background: rgba(255, 255, 255, 1);
    border: 1px solid #1B6AAB;
    font-weight: 500;
    font-size: 14px;
    color: rgba(27, 106, 171, 1);
    width: 34%;
    height: 36px;
    border-radius: 4px;
}

.v_xoa{
    border: none;
    background: #FA1414;
    border-color: #FA1414;
    border-radius: 5px;
    width: 25%;
    height: 36px;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.v_btn{
    padding-top: 10px;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
}

#v_chuyentrang{
    background: #E5E5E5;
    border: 0;
}

@media (max-width: 1365px){
    #content{
        background: #E5E5E5;
    }

    .v_content-1{
        background: white;
        flex-basis: 45%;
    }

    #v_chuyentrang{
        background: #E5E5E5;
    }

    
}

@media (max-width: 767px){

    #content{
        display: flex;
        padding-top: 56px;
    }

    .v_content-1{
        background: white;
        flex-basis: 90%;
    }
}